*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

input{
    width: 5rem;
}

/* Header */

.header{
    width: auto;
    display: flex;
    position: sticky;
    top:0;
    padding-bottom: 5px;
    justify-content: space-between;
    background-color: #333333;
}

.headerHome, .headerNav{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 2%;
}

.headerNavMenu li a , .headerHome > a{
    display:block;
    padding:5px 11px;
    color:#ffffff;
    text-decoration:none;  
}

.headerNavMenu li a:hover , .headerHome > a:hover {
    background-color: #07ABE3;
}



.headerNav ul {
  list-style:none;
  margin:0;
  padding:0;
}

.headerNavMenu a {
  display:block;
  color:#fff;
  text-decoration:none;
  font-weight:400;
  font-size:15px;
  padding:10px;
  text-transform:uppercase;
  letter-spacing:1px;
}

.headerNav{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: right;
}

.headerNav > label{
    color:#ffffff;
    background-color: #0560B5;
    padding:5px 11px;
    border-radius: 5%;
}

.headerNav  :hover {
    background-color:#07ABE3;
}


.headerNavMenu li {
    position:relative;
    float:left;
  }
  
.headerNavMenu li:hover {
    background:#5b78a7;
}

#activateMenu{
    display:none
}  

#activateMenu:checked +  .headerNavMenu{
    display: block;
    background-color:#333333;
} 

.headerNavMenu{
    display:none;
    position:absolute;
    top:100%;
}

.headerNavMenu li {
    list-style: none;
    float:none;
    width:150px;
}
  
.headerNav:checked .headerNavMenu,  .headerNavMenu li:hover{
    display:block;
}

.active {
    background-color: #0A07E3;
}

/* Footer */
.footer{
    display: flex;
    width: auto;
    height: 19vh;
    justify-content: space-between;
    align-items: center;
    background-color: #0560B5;
    box-shadow: 0 50vh 0 50vh #0560B5;
}

.footerContact{
    margin: 0 8%;
}

.footerContact h6{
    margin-bottom: 15%;
}

.footerRRSS{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footerRRSSGH, .footerRRSSLI{
    width: 35px;
    height: 35px;
    background-size: cover;
    background-repeat: no-repeat;
}

.footerRRSSGH{
    background-image: url('https://cdn-icons-png.flaticon.com/512/25/25231.png');
    margin-right:2.5px;
}

.footerRRSSLI{
    background-image: url('https://www.pngmart.com/files/21/Linkedin-In-Logo-PNG.png');
    margin-left:2.5px;
}

.footerMessage{
    margin: 0 8%;
}

.footerMessage p{
    font-size: 0.6rem;
}

/* Main */

/*mainContaniers*/

.mainThreeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainOneContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: #4407D9;
    border-style: double;
    border-radius: 10%;
    text-align: center;
    margin: 0.5%;
    padding: 1rem;
}

.mainOneContainer > h4, .mainOneContainer > figure, .mainOneContainer > p, .mainOneContainer > button {
    margin:10px;
}

.mainOneContainer > label{
    margin: 3px;
}

.mainOneContainer > p{
    color:#333333;
}

/*Button*/

button{
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  vertical-align: middle;
  margin: 5px;
}

button:hover,
button:focus { 
  background-color: #16437E;
  color: #ffffff;
}

button:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

button:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

button > a {
    text-decoration:none; 
    color: #ffffff; 
}

.buttonContainer{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

/*goTop*/

.goTop{
    position: fixed;
    bottom: 4rem;
    right: 1.5rem; 
    width: 1.3rem;
    height: 0rem;
    z-index: -1;
}

.goTopButton{
    width: 0rem;
    height: 0rem;
    background: #2071b2;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.goTopButton span{
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #fff;
    transition: .2s;
}

.show{
    z-index: 10;
}

.show .goTopButton{
    animation: popup .3s ease-in-out;
    width: 4.5rem;
    height: 4.5rem; 
    z-index: 11;
}

.show span{
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup{
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 6rem;
        height: 6rem;
    }
    100%{
        width: 4.5rem;
        height: 4.5rem;
    }
}

/*otherContents*/

/*Home*/

.mainIndex{
    margin: 2.5rem;
}

.planeGeometric{
    background-image: url('./src/main/1.png');
    width: 35px;
    height: 35px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}

h1{
    text-align: center;
    color: #0537CC;
    margin: 20px;
}

h3{
    text-align: center;
    color: #0560B5;
    margin: 20px;
}

.locationMean{
    background-image: url('./src/main/2.png');
    width: 65px;
    height: 35px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}

.interestRates{
    background-image: url('./src/main/3.png');
    width: 35px;
    height: 35px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}

/*PlaneGeometric*/

.triangle{
    background-image: url('/src/figures/triangle.png');
    width: 300px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}

.circle{
    background-image: url('/src/figures/circle.png');
    width: 300px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}

.square{
    background-image: url('/src/figures/square.png');
    width: 300px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}

.rectangle{
    background-image: url('/src/figures/rectangle.png');
    width: 300px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}

.circularSector{
    background-image: url('/src/figures/circularSector.png');
    width: 300px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}

.rhombus{
    background-image: url('/src/figures/rhombus.png');
    width: 300px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}


.polygon{
    background-image: url('/src/figures/polygon.png');
    width: 300px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}

.rhomboid{
    background-image: url('/src/figures/rhomboid.png');
    width: 300px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}

.trapezium{
    background-image: url('/src/figures/trapezium.png');
    width: 300px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}

/*LocationMeasures*/

#inputDataStatistical, #outputDataStatistical{
    width: 20rem;
}

@media only screen and (min-width: 997px){

    .mainThreeContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 2vh 0;
    }

}


