*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 91%;
    font-family: Arial, sans-serif;
}

body{
    background-color: #D2CC1A;
    background: repeating-linear-gradient(
    -55deg,
    #222,
    #222 0px,
    #D2CC1A 0.1em,
    #D2CC1A 100px,
    )
}

main{
    display: flex;
    justify-content: space-evenly;
}